*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Start Header*/
header{
	width: 100%;
	height: 100vh;
	background-image: url('../Img/BACK1.jpg');
	background-size: cover;
	font-family: 'Dosis', sans-serif;
  overflow-x: 0;
}


.header_menu{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo{
	width: 20%;
	text-align: center;
}

.logo img{
	height: 75px;
}

.menu_list{
	width: 80%;
	text-align: right;
	padding-right: 50px;
}

.menu_list li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-left: 50px;

}

.menu_list li a{
	color:rgba(255, 255, 255, .8);
	text-decoration: none;
	padding: 5px 0;
}

.menu_list li a:hover{
	color:#2da9c2;
	border-bottom: 2px solid #2da9c2;

}

.header_content{
	text-transform: uppercase;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	color:rgba(255, 255, 255, .8);
	transform: translate(-50%, -50%);
	text-align: center;
}


.header_content h2{
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 0.3em;
}

.header_content h1{
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bolder;
	letter-spacing: 0.7rem;
}

.header_content button{
	height: auto;
	padding:8px 37px;
	color:#fff;
	font-size: 12px;
	background-color: transparent;
	margin-right: 20px;
}

.header_content button a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

.header_content button:hover{
	background-color: #2da9c2;
	border:1px solid white;

}

a.active,a:hover{
	color:#2da9c2;
	border-bottom: 2px solid #2da9c2;
}

.mobile-icon{display: none;}

/* End Of header*/

/*Footer	*/
.footer-main-div{
	width: 100%;
	height: auto;
	margin: auto;
	background: black;
	padding: 20px 0px;
	opacity: 0.8;
}

.footer-social-icon{
	width: 100%;
	height: auto;
	margin: auto;
	color: #fff;
}

.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;


}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 5px;
	border-radius: 100%;
	background: #2da9c2;

}
.footer-social-icons ul li a:hover{
	color: #000000;
	text-decoration: none;
	
}
.footer-social-icons ul li a{
	color: #272727;
	font-size: 25px;
	display: block;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}

.footer-menu-one{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;

}

.footer-menu-one ul{
	margin: 0px;
	padding: 0px;
	text-align: center;

}

.footer-menu-one ul li{
	display: inline-block;
	margin: 0px 15px;
}

.footer-menu-one ul li a{
	font-family: 'Dosis', sans-serif;;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 5px 0px;
}
.footer-menu-one ul li a:hover{
	color: #F0F8FF;
	
}
.footer-menu-one ul li a:hover{
	color: #000000;
	border-bottom: 2px solid #000000;
	
}

.footer-bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background: 	 #b3b3b3;
	padding: 10px;
}

.footer-bottom{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;

}

.footer-bottom p{
	color: black;
}
footer{
	width: 100%;
	height: auto;

}


/*//////// Responsive queries //////////*/
@media only screen and (max-width: 1180px) {
	.header_content{
		width: 100%;
		padding: 0, 2px;

	}
}

@media only screen and (max-width: 998px){
	.header_content h1{font-size: 44px;}
	.header_content h2{font-size: 14px;}
}

@media only screen and (max-width: 820px){
	.header_content h1{font-size: 32px;}
	.header_content h2{font-size: 11px;}
	.header_content button{font-size: 10px;}
	.main-nav{display: none;}

	.mobile-icon{
		display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-top: 20px;
	}

	.main-nav{float: left;}

	.main-nav li{
		display: 	block;
		margin-top: 10px;
	}
}
